<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link href="/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">





    </head>


    <body>
        <div class="bg-container">
           <div class="content">
               <h1>Petition To Ban Wildlife Animal Circus</h1>
               <hr>
          {{{ body }}}

           </div>
        </div>

    </body>
</html>
