<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <title>Petition</title>
        <link href="/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">





    </head>


    <body>
        <center><h1 class="topBanner">Petition To Ban The Use of Real Fur In Fashion</h1></center>
        <hr>
        <div class="bg-container">
           <div class="content">

          {{{ body }}}

           </div>
        </div>
        <script src="/script.js" type="text/javascript">

        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    </body>
</html>
