<center>
<h1>Changed your mind?</h1>
<h3>We are sad to see you go</h3>

<div class="">

</div>
<br>
<br>
<h2>Delete your signature</h2>
<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <a href="/delete/sig">
   <button type="sumbit" name="button">Delete Your Signature</button>
</a>
</form>

<br>
<br>
<br>

<h1 class="deleteProfileTag">We respect your privacy.<br> If you no longer wish to keep your profile, delete it using the button bellow. </h1>
<br>

<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <a href="/delete/profile">
   <button type="submit" name="button">Delete Profile</button>
</a>
</form>
</center>
