<h1>You can update your info here</h1>

<form  method="post">
    First Name: <input type="text" name="first" placeholder="First Name">
    Second Name: <input type="text" name="last" placeholder="Second Name">
    Email: <input type="text" name="email" placeholder="Email">
    Password: <input type="password" name="pass" placeholder="Password">
    Age: <input type="text" name="age" placeholder="Age">
    City: <input type="text" name="city" placeholder="City">
    Homepage: <input type="text" name="url" placeholder="Homepage">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="edit">Update Profile</button>
</form>
