<h1>Let's ban real FUR in fashion</h1>
<h2>there are better/warmer/prettier alternatives</h2>


<form method="POST">
  <input class="first" type="text" name="first" placeholder="First Name"><br><br><br>
  <input class="last" type="text" name="last" placeholder="Last Name">
   <input id="string" type="hidden" name="sig"><br><br><br>
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
<canvas id="canvas" width="400" height="150" placeholder="Please Sign Here"></canvas>
<button type="sumbmit" name="button">Submit</button>
</form>

<script type="text/javascript" src="/canvas.js">

</script>
