<h1>Let's ban the ZOOS</h1>
<h2>Because looking at caged animals is fun for who?</h2>


<form method="POST">
  First name: <input class="first" type="text" name="first"><br><br><br>
  Last name: <input class="last" type="text" name="last"><br><br><br>
   <input id="string" type="hidden" name="sig"><br><br><br>
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
<canvas id="canvas" width="400" height="150"></canvas>
<input type="submit" name="Submit">
</form>

<script type="text/javascript" src="/canvas.js">

</script>
