<h1>We would love to know something about you!</h1>

<form class="" method="Post">
    <div>
        <input type="text" name="age" placeholder="Age">

    </div>
    <div>
        <input type="text" name="city" placeholder="City">

    </div>
    <div>
        <input type="text" name="url" placeholder="Homepage">
    </div>
    <div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <div>
        <button type="sumbmit" name="button">Next</button>
    </div>
</form>
