<h1>We would love to know something about you!</h1>

<form class="" method="Post">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="url" placeholder="Homepage">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="sumbmit" name="button">Next</button>

</form>
