<center>
<h1>We would love to know something about you!</h1>


<form class="" method="Post">
    <div class="profileTabs">
        <input type="text" name="age" placeholder="Age">

    </div>
    <div class="profileTabs">
        <input type="text" name="city" placeholder="City">

    </div>
    <div class="profileTabs">
        <input type="text" name="url" placeholder="Homepage">
    </div>
    <div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <div class="profileTabs">
        <button type="sumbmit" name="button">Next</button>
    </div>
</form>
</center>
<script src="/script.js" type="text/javascript">

</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
