<center>
<h1>THANK YOU FOR SUPPORTING THE CAUSE</h1>

<div class="thanksSig">
    <img src="{{results}}" height="150" width="400">

</div>
<br>
<br>
<br>


<a href="/signers">
<button class="thanksButtons" action="/signers" name="button">See current signers</button>
</a>
<br>
<a href="/profile/edit">
<button class="thanksButtons" action="/profile/edit" name="button">Update your info here</button>
</a>
<br>
<br>
<br>
<a href="/logout">
<button class="thanksButtons" action="/logout" name="button">Log Out</button>
</a>
<br>
<a href="/delete">
<button class="thanksButtons" action="/delete" name="button">Delete your info here</button>
</a>
</center>
<script src="/script.js" type="text/javascript">

</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
