<h1>THANK YOU FOR SIGNING</h1>


<img src="{{results}}" height="150" width="400">
<br>
<br>
<br>
<br>
<br>
<a href="/signers">See other who have already already signed the petititon</a>
<br>
<br>
<br>
<a href="/profile/edit">Update your info here</a>
<br>
<br>
<br>
<a href="/delete">If you wish to delete your rpfile or signature, press here</a>
