canvas {
    border: 1px black solid;
    background-color: white;
    opacity: 0.8;
}

button {
    cursor: pointer;
    width: 250px;
    margin-top: 40px;
    height: 30px;
    border: 2px solid black;
    font-size: 15px;
    background: none;
}

input {
    border: 2px solid black;
}

* {
    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}

.line-in-middle {
    width: 400px;
    height: 200px;
    background: linear-gradient(
        to right,
        transparent 0%,
        transparent calc(50% - 0.81px),
        black calc(50% - 0.8px),
        black calc(50% + 0.8px),
        transparent calc(50% + 0.81px),
        transparent 100%
    );
}

.deleteProfileTag {
    font-size: 20px;
}

h2.shameTag {
    font-weight: bold;
    background-color: "#ffffff4d";
}

.thanksSig {
    border: 1px dashed black;
}

hr {
    border: solid black;
}

.loginTabs {
    padding-top: 30px;
    padding-bottom: 40px;
}

.profileTabs {
    padding-top: 10px;
    padding-bottom: 20px;
}

.editTabs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.thanksButtons {
    /* background-color: #dcdcd7; */
    height: 50px;
    width: 100%;
    border: 1px dashed black;
}

.topBanner {
    color: black;
    border: 1px solid black;
    background-color: #efeeeb;
}

.typeform {
    float: right;
    padding-right: 100px;
    padding-top: 200px;
}

.typeform1 {
    font-size: 30px;
    background: "#ffffff4d";
}

span {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

::placeholder {
    color: black;
    font-size: 20px;
}
.registerForm {
    display: inline-block;
}

.registerButton {
    width: 250px;
    margin-top: 40px;
    height: 30px;
    border: 2px solid black;
    font-size: 15px;
    background: none;
}

.registerLogIn {
    padding-left: 50px;
}

.logIn {
    padding-left: 70px;
}

.registerType {
    padding-left: 70px;
    cursor: pointer;
    font-size: 40px;
}

.register {
    padding-left: 70px;
    display: none;
}

body {
    margin: 0;
}

input {
    color: black;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    width: 250px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: url("noun_Fox_516455.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    padding-left: 100px;
}

input:focus {
    border: 3px dashed black;
}

placeholder {
    font-family: "Josefin Sans", sans-serif;
}

.bg-container {
    width: 100%;
    height: 750px;
    border: 1px solid #000;
    position: relative;
}
.bg-container .content {
    position: absolute;
    z-index: 999;
    width: 100%;
}
.bg-container::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: url("peltsQ.jpg");
    background-size: cover;
    opacity: 0.9;
}

.leoImg {
    width: 600px;
    height: 100%;
    border-radius: 45%;
    z-index: 1;
}

.typeform {
    font-size: 30px;
    width: 600px;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-20%, -70%);
}
